name: Build and push aeriOS Self-scaling API container image to Docker Hub

on:
  push:
    branches: [ "main" ]
    paths: ['deployment/docker/api/**']
  pull_request:
    branches: [ "main" ]
    paths: ['deployment/docker/api/**']
  workflow_dispatch: {}  # allows manual trigger

env:
  IMAGE_NAME: eclipseaerios/self-scaling-api
  VERSION: 1.0.0

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Login to Docker Hub
      if: ${{ github.event_name != 'pull_request' }}
      uses: docker/login-action@v3
      with:
        registry: docker.io
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Build and push the container image
      uses: docker/build-push-action@v6
      with:
        context: ./deployment/docker/api
        file: ./deployment/docker/api/Dockerfile
        push: ${{ github.event_name != 'pull_request' }}
        platforms: linux/amd64,linux/arm64
        build-args: |
          COMMIT_HASH=${{ github.sha }}
        tags: |
          ${{ env.IMAGE_NAME }}:latest
          ${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          ${{ env.IMAGE_NAME }}:${{ github.sha }}